{% extends 'core/base.html' %}

{% block title %}Wellcome{% endblock %}

{% block content %}
    <h1>Wellcome to EmTodo...</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    {% for task in request.user.tasks.all %}
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p>{{ task.added_time }}</p>

        <a target="_blank"
           href="{% url 'core:complete' task.id %}"
           onclick="openLink(event)">
            {% if task.is_completed %}
                <label>
                    <input type="checkbox" checked> UnComplete
                </label>
            {% else %}
                <label>
                    <input type="checkbox"> Complete
                </label>
            {% endif %}

        </a>

    {% endfor %}

    {% if closed %}
        <script>window.close()</script>
    {% endif %}

    <script>
        function openLink(event) {
            event.preventDefault();
            let link = event.currentTarget.href;
            window.open(link, '_blank');
            location.reload()
        }
    </script>
{% endblock %}